@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Sen:wght@700&display=swap');

:root {
    --primary-color: #FFB900;
    --very-dark: #171100;
    --fst-bg-color: #2E2100;
    --text-color: #5F5B53;
    --nd-bg-color: #FFFCF4;
    --text-white: #fff;
    --text-color-light-gray: #BFBCB2;

    --fz-18: 1.8rem;
    --fz-16: 1.6rem;
    --fz-14: 1.4rem;
    --fz-26: 2.6rem;
    --fz-24: 2.4rem;
    --fz-38: 3.8rem;
    --fz-44: 4.4rem;
    --fz-58: 5.8rem;
    --fz-60: 6rem;

    --font-heading: 'Sen', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/*=== COMMON === */
a {
    text-decoration: none;
    display: inline-block;
    color: currentColor;
}

.content {
    width: 1170px;
    max-width: calc(100% - 44px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 118px;
    line-height: 50px;
    color: var(--text-white);
    background: var(--very-dark);
    text-align: center;
    font-size: var(--fz-16);
    font-weight: 600;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.title {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
}

.title.level-one {
    font-size: var(--fz-58);
    line-height: 1.17;
}

.title.level-two {
    font-size: var(--fz-38);
    line-height: 1.27;
}

.desc {
    color: var(--text-color);
    font-weight: 400;
}

.desc.level-one {
    font-size: var(--fz-18);
    line-height: 1.67;
}

.desc.level-two {
    font-size: var(--fz-14);
    line-height: 1.85;
}

.desc.level-three {
    font-size: var(--fz-16);
    line-height: 1.75;
}

/* Qui định giới hạn dòng của nội dung khóa học*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

/*=== HEADER ===*/
.header {
    background: var(--nd-bg-color);
    position: relative;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    padding: 36px 0 8px;
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 470px;
}

.navbar .list {
    display: flex;
    position: relative;
}

.navbar .list a {
    padding: 8px 21px;
    color: var(--text-color);
    text-align: center;
    font-size: var(--fz-16);
    font-weight: 400;
}

.header .action {
    margin-left: 49px;
}

.navbar .list-item:hover a,
.navbar .list-item.active a {
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark);
    text-shadow: 1px 0 0 currentColor;
}

.navbar .list-item.active a::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 6px;
    width: 15px;
    height: 2px;
    border-radius: 3px;
    background: var(--very-dark);
}

.signup-btn {
    min-width: 144px;
}

/*=== HERO ===*/
.hero {
    background: var(--nd-bg-color);
    padding: 56px 0 65px;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    /* display: block; */
    vertical-align: bottom;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px;
    border-radius: 12px;
    background: var(--text-white);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

/* Từ item thứ 2 thì margin */
.hero-summary .item+.item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF9E8;
    border-radius: 50%;
}

.hero-summary .item:nth-child(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:last-child .icon {
    background: #EBEAFF;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: var(--text-color);
    font-size: var(--fz-14);
    font-weight: 400;
    line-height: 1.8;
}

.hero-summary .title {
    color: var(--very-dark);
    font-size: var(--fz-18);
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero .cta-btn {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--text-white);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: var(--very-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: var(--fz-18);
    line-height: 1.67;
}

.hero .content-block .stats {
    margin: 8px 0 0 -28px;
}

.hero .content-block .stats strong {
    padding: 0 8px 0 28px;
    color: var(--very-dark);
    font-family: var(--font-heading);
    font-size: var(--fz-44);
    font-weight: 700;
    line-height: 1.23;
}


/* => Xử lý tính huống hình ảnh nằm đè lên trên header
    => dùng z-index: 1 */


/*=== POPULAR ===*/
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: var(--text-white);
    background: var(--primary-color);
}

/*=== COURSES ===*/
.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    /* Chia đều */
    border-radius: 12px;
    background: var(--text-white);
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.07);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .price,
.popular .course-item .title {
    color: var(--very-dark);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fz-18);
    font-weight: 600;
    line-height: 1.67;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .rating .value {
    margin-left: 6px;
    color: var(--primary-color);
    font-size: var(--fz-16);
    font-weight: 400;
    line-height: 1.75;
    /* 175% */
}

.popular .course-item .desc {
    margin-top: 6px;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    background: var(--primary-color);
}

/*=== FEEDBACK ===*/
.feedback {

}

.feedback-list {
    display: flex;
}

.feedback-item {
    display: flex;
    align-items: center;
}